.aboutcontainer{
    margin-left: 7rem;
}

.aboutcontainer h4{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 600px) {
    .aboutcontainer {
      margin-left: 0;
      text-align: center;
    }
  
    .aboutcontainer h4 {
      font-size: 16px;
    }
  }