.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 20px 0px 10px 30px;
    background-color: aliceblue;
  }
 


  img{
    width: 150px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  
  }

  h3{
    margin-top: 5rem;
    text-align: center;
  }

  